In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import warnings

warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('weatherAUS.csv')

In [3]:
data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [5]:
data.dropna(axis=0, inplace=True)

In [6]:
data.isnull().sum().sum()

0

In [7]:
categorical_col = []

for col in data.select_dtypes(include='object'):
    print(f'{col} : {data[col].unique()}')
    print()
    categorical_col.append(col)

data_cat = data[categorical_col]

Date : ['2009-01-01' '2009-01-02' '2009-01-04' ... '2016-07-08' '2016-06-04'
 '2016-06-05']

Location : ['Cobar' 'CoffsHarbour' 'Moree' 'NorfolkIsland' 'Sydney' 'SydneyAirport'
 'WaggaWagga' 'Williamtown' 'Canberra' 'Sale' 'MelbourneAirport'
 'Melbourne' 'Mildura' 'Portland' 'Watsonia' 'Brisbane' 'Cairns'
 'Townsville' 'MountGambier' 'Nuriootpa' 'Woomera' 'PerthAirport' 'Perth'
 'Hobart' 'AliceSprings' 'Darwin']

WindGustDir : ['SSW' 'S' 'NNE' 'WNW' 'N' 'SE' 'ENE' 'NE' 'E' 'SW' 'W' 'WSW' 'NNW' 'ESE'
 'SSE' 'NW']

WindDir9am : ['ENE' 'SSE' 'NNE' 'WNW' 'NW' 'N' 'S' 'SE' 'NE' 'W' 'SSW' 'E' 'NNW' 'ESE'
 'WSW' 'SW']

WindDir3pm : ['SW' 'SSE' 'NNW' 'WSW' 'WNW' 'S' 'ENE' 'N' 'SE' 'NNE' 'NW' 'E' 'ESE' 'NE'
 'SSW' 'W']

RainToday : ['No' 'Yes']

RainTomorrow : ['No' 'Yes']

In [8]:
data[categorical_col].head()

,Date,Location,WindGustDir,WindDir9am,WindDir3pm,RainToday,RainTomorrow
6049,2009-01-01,Cobar,SSW,ENE,SW,No,No
6050,2009-01-02,Cobar,S,SSE,SSE,No,No
6052,2009-01-04,Cobar,NNE,NNE,NNW,No,No
6053,2009-01-05,Cobar,WNW,WNW,WSW,No,No
6054,2009-01-06,Cobar,WNW,NW,WNW,No,No

In [9]:
data[categorical_col].isnull().sum()

Date            0
Location        0
WindGustDir     0
WindDir9am      0
WindDir3pm      0
RainToday       0
RainTomorrow    0
dtype: int64

In [10]:
encode = LabelEncoder()
data['RainTomorrow'] = encode.fit_transform(data['RainTomorrow'])

In [11]:
numeric_col = []

for col in data.columns:
    if col != 'RainTomorrow' and (data[col].dtype == 'int64' or data[col].dtype == 'float64'):
        numeric_col.append(col)

data[numeric_col].corrwith(data['RainTomorrow'])

MinTemp          0.087428
MaxTemp         -0.147467
Rainfall         0.254342
Evaporation     -0.130002
Sunshine        -0.453407
WindGustSpeed    0.233158
WindSpeed9am     0.083904
WindSpeed3pm     0.088862
Humidity9am      0.271033
Humidity3pm      0.455358
Pressure9am     -0.254816
Pressure3pm     -0.230418
Cloud9am         0.323972
Cloud3pm         0.388574
Temp9am         -0.018179
Temp3pm         -0.183586
dtype: float64

In [12]:
encode = LabelEncoder()

for col in data_cat.columns:
    data[col] = encode.fit_transform(data[col])

In [13]:
data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
6049,407,4,17.9,35.2,0.0,12.0,12.3,11,48.0,1,...,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,0,0
6050,408,4,18.4,28.9,0.0,14.8,13.0,8,37.0,10,...,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,0,0
6052,410,4,19.4,37.6,0.0,10.8,10.6,5,46.0,5,...,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,0,0
6053,411,4,21.9,38.4,0.0,11.4,12.2,14,31.0,14,...,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,0,0
6054,412,4,24.2,41.0,0.0,11.2,8.4,14,35.0,7,...,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142298,3410,6,19.3,33.4,0.0,6.0,11.0,1,35.0,9,...,63.0,32.0,1013.9,1010.5,0.0,1.0,24.5,32.3,0,0
142299,3411,6,21.2,32.6,0.0,7.6,8.6,0,37.0,9,...,56.0,28.0,1014.6,1011.2,7.0,0.0,24.8,32.0,0,0
142300,3412,6,20.7,32.8,0.0,5.6,11.0,0,33.0,0,...,46.0,23.0,1015.3,1011.8,0.0,0.0,24.8,32.1,0,0
142301,3413,6,19.5,31.8,0.0,6.2,10.6,2,26.0,9,...,62.0,58.0,1014.9,1010.7,1.0,1.0,24.8,29.2,0,0
142302,3414,6,20.2,31.7,0.0,5.6,10.7,1,30.0,1,...,73.0,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0,0,0

In [14]:
data.drop(['Date','Evaporation','Sunshine','Cloud9am','Cloud3pm'],inplace=True,axis=1)

In [15]:
data.head()

,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
6049,4,17.9,35.2,0.0,11,48.0,1,12,6.0,20.0,20.0,13.0,1006.3,1004.4,26.6,33.4,0,0
6050,4,18.4,28.9,0.0,8,37.0,10,10,19.0,19.0,30.0,8.0,1012.9,1012.1,20.3,27.0,0,0
6052,4,19.4,37.6,0.0,5,46.0,5,6,30.0,15.0,42.0,22.0,1012.3,1009.2,28.7,34.9,0,0
6053,4,21.9,38.4,0.0,14,31.0,14,15,6.0,6.0,37.0,22.0,1012.7,1009.1,29.1,35.6,0,0
6054,4,24.2,41.0,0.0,14,35.0,7,14,17.0,13.0,19.0,15.0,1010.7,1007.4,33.6,37.6,0,0

In [16]:
y = data['RainTomorrow']
X = data.drop(['RainTomorrow'],axis = 1)

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [18]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [19]:
from sklearn.linear_model import LogisticRegression


# instantiate the model
logreg = LogisticRegression(random_state=0)

# fit the model
logreg.fit(X_train, y_train)

LogisticRegression(random_state=0)

In [20]:
predictions=logreg.predict(X_test)

In [21]:
from sklearn.metrics import accuracy_score
print('Model accuracy score: {0:0.4f}'. format(accuracy_score(y_test, predictions)))

Model accuracy score: 0.8558

In [22]:
from sklearn import svm
svm_model=svm.SVC()
svm_model.fit(X_train,y_train)

SVC()

In [23]:
prediction=svm_model.predict(X_test)

In [25]:
print('Model accuracy score: {0:0.4f}'. format(accuracy_score(y_test, svm_model)))

TypeError: Expected sequence or array-like, got <class 'sklearn.svm._classes.SVC'>